@import "../base.less";

.manager-page-container {
  .ant-input-prefix {
    padding: 0 6px;
  }

  .tree-mode-container {
    .ant-tree-icon__customize {
      margin-right: 8px;
      display: inline-flex !important;
      align-items: center;

      >span {
        display: inline-flex;
        align-items: center;
      }
    }

    .ant-tree-treenode {
      display: flex !important;
      align-items: center;
    }

    .ant-tree-title {
      width: 100%;
    }

    .tree-title-container {
      &:hover {
        .tree-actions {
          visibility: visible;
        }
      }
    }

    .ant-tree-node-content-wrapper {
      line-height: 36px !important;
      display: flex;
      align-items: center;
      padding-left: 16px !important;
      padding-right: 16px !important;
    }

    .ant-tree-switcher {
      display: flex;
      align-items: center;
    }
  }
}