$prefixCls: create-container;
$prefixCls2: list-container;



.#{$prefixCls}-modal {
  .ant-modal-close {
    top: 22px !important;
  }
}

.#{$prefixCls}-tree-select-popup {
  .ant-select-tree-title {
    
  }
}

.#{$prefixCls2}-modal {
  .ant-tree-node-content-wrapper {
    display: flex;
    .ant-tree-title {
      flex: 1;
    }
  }
  input::placeholder {
    color: rgba(0, 0, 0, 0.25);
    user-select: none;
  }
}