$prefixCls: create-container;
$prefixCls2: list-container;



// fix 在部分页面样式错乱问题
@mixin fix-antd-tree-style {
  .ant-tree-switcher, .ant-tree-iconEle, .ant-tree-draggable-icon, .ant-select-tree-switcher {
    height: 24px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.#{$prefixCls}-modal {
  .ant-modal-close {
    top: 22px !important;
  }
}

.#{$prefixCls}-tree-select-popup {
  @include fix-antd-tree-style;
}


.#{$prefixCls2}-modal {
  @include fix-antd-tree-style;
  // 支持自定义 title
  .ant-tree-node-content-wrapper {
    display: flex;
    .ant-tree-title {
      flex: 1;
    }
  }

  // 自定义的搜索组件沿用 antd 的样式
  .search-input-container {
    &:hover {
      border-color: var(--color-primary-hover) !important;
    }

    &.focus {
      border-color: var(--color-primary) !important;
      box-shadow: 0 0 0 var(--control-outline-width) var(--control-outline);
      outline: 0;
    }

    input::placeholder {
      color: rgba(0, 0, 0, 0.25);
      user-select: none;
    }
  }

  .highlight {
    font-weight: 900;
  }
  .highlight-1 {
    color: #f5222d;
  }
  .highlight-2 {
    color: #faad14;
  }
  .highlight-3 {
    color: #a0d911;
  }
  .highlight-4 {
    color: #eb2f96;
  }
  .highlight-5 {
    color: #722ed1;
  }
  .highlight-6 {
    color: #1677ff;
  }
  .highlight-7 {
    color: #13c2c2;
  }
  .highlight-8 {
    color: #2f54eb;
  }
  .highlight-9 {
    color: #fadb14;
  }
}