.manager-page-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    .search-input {
      height: 40px;
      border-radius: 20px;
      margin: 24px 0 16px;

      .ant-input-prefix {
        padding: 0 6px;
      }
    }
  }

  .history-container {
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;

    .history-item {
      max-width: 120px;
      overflow: hidden;
      padding: 3px 12px;

      a {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: underline;
        overflow: hidden;
        display: block;

        &:hover {
          color: #1677ff;
        }
      }
    }
  }

  .search-list-container {
    padding: 10px;
    background: #EFF0F0;
    border-radius: 4px;
    border: 1px solid #E7E9E8;
    margin-bottom: 12px;
  }

  main {
    flex: 1;
  }

  .tree-mode-container {
    .ant-tree-icon__customize {
      margin-right: 8px;
      display: inline-flex !important;
      align-items: center;

      >span {
        display: inline-flex;
        align-items: center;
      }
    }

    .ant-tree-treenode {
      display: flex !important;
      align-items: center;
    }

    .ant-tree-node-content-wrapper {
      line-height: 36px !important;
      display: flex;
      align-items: center;
      padding-left: 16px !important;
    }

    .tree-title-link {
      &:hover {
        text-decoration: underline;
      }
    }

    .tree-title-dir-name {
      font-weight: bold;
    }
  }
}