
@import "./base.less";

.setting-modal {
  .ant-modal {
    padding-bottom: 0;
    .ant-modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      .ant-modal-body {
        flex: 1;
        overflow: auto;
      }
    }
  }
}